name: Publish

on:
  push:
    branches:
      - main

jobs:
  test-node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install Dependencies
        working-directory: ./node
        run: npm ci
      - name: Build
        working-directory: ./node
        run: npm run build
      - name: Test
        working-directory: ./node
        run: npm test

  test-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        working-directory: ./python
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install pytest
      - name: Test
        working-directory: ./python
        run: pytest
